.sidebar {
    width: 7.5%;
    height: 100%;
    /* Need a very light gray background */
    background: #e3ecf1;
    color: #282c34;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    /* Stick to left side of the screen */
    position: fixed;
    top: 0;
    left: 0;
}

.vite-logo {
    /* Make the image fit in the top-left of the sidebar. Should be small */
    width: 100%;
    height: 5%;

    margin-top: 15px;
    cursor: pointer;
}

.vite-logo:hover {
    /* Make the logo glow on hover */
    filter: drop-shadow(0 0 0.75rem #59c1fe);
    transition: filter 0.1s ease-in-out;
}

/* Remove styling from unordered list and li */
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 1.5em 0;

    display: flex;
    flex-direction: column;
    gap: 0.15em;
    align-items: center;
}

.sidebar li {
    width: 35%;
    height: 35%;
    margin: 0;
    padding: 0.6em;
    cursor: pointer;
}

.sidebar li:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
}

.sidebar-menu-item.active {
    background-color: #fff;
    color: #333;
    border-radius: 7.5px;
}

.sidebar-settings {
    /* Place at the bottom of the sidebar */
    margin: auto 0 2.5em 0;
    
    cursor: pointer;
}