:root {
  --text-color: #282c34;
  --background-color: #f8f9fb;

  --font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--background-color);
  color: var(--text-color);
  font-size: calc(10px + 2vmin);
  text-align: center;
}